<div class="col-md-4 col-sm-6">
    <div class="products">
        <div class="offer">
            New
        </div>
        <div class="thumbnail">
            <a [routerLink]="['/products/detail/', product._id]">
                <img [src]="api_url + '/' + product.image" alt="Product Name">
            </a>
        </div>
        <div class="productname">
            {{product.title}}
        </div>
        <h4 class="price">
            {{product.price | currency:'VND':'' }} vnđ
        </h4>
        <div class="button_group">
            <button class="button add-cart" type="button">
                Add To Cart
            </button>
            <button class="button compare" type="button">
                <i class="fa fa-exchange">
                </i>
            </button>
            <button class="button wishlist" type="button">
                <i class="fa fa-heart-o">
                </i>
            </button>
        </div>
    </div>
</div>