<section class="form-block">
    <p-tabView>
        <p-tabPanel header="Debit">
            <p class="error" *ngIf="error && error.type === 'debit'">{{error.message}}</p>
            <div class="p-field">
                <label for="debitAmount">Debit amount</label>
                <span class="p-input-icon-left">
                    <i class="pi ct-icon">{{selectedCurrency.symbol}}</i>
                    <input id="debitAmount" type="number" pInputText [(ngModel)]="debitAmount" min="0"  />
                </span>
            </div>
            <button pButton type="button" label="Submit" (click)="handleDebit()"></button>
        </p-tabPanel>
        <p-tabPanel header="Credit">
            <div class="p-field">
                <label for="creditAmount">Credit amount</label>
                <span class="p-input-icon-left">
                    <i class="pi ct-icon">{{selectedCurrency.symbol}}</i>
                    <input id="creditAmount" type="number" pInputText [(ngModel)]="creditAmount" min="0"/>
                </span>
            </div>
            <button pButton type="button" label="Submit" (click)="handleCredit()"></button>
        </p-tabPanel>
    </p-tabView>
</section>
<!--.form-block-->