<section class="main-app">
  <section class="budget-block">
    <app-budget-info class="block" [selectedCurrency]="selectedCurrency" [amount]="amount"></app-budget-info>
    <app-budget-currency class="block" [selectedCurrency]="selectedCurrency" [currencies]="currencies"
      (onChangeCurrency)="onChangeCurrency($event)"></app-budget-currency>
  </section>
  <!--.budget-block-->
  <app-budget-form [selectedCurrency]="selectedCurrency" [amount]="amount" (onDebit)="onDebit($event)"
    (onCredit)="onCredit($event)"></app-budget-form>
</section>
<!--.form-block-->