/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Linotte-Regular";
  src: url("./assets/fonts/linotte/Linotte-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/linotte/Linotte-Regular.woff") format("woff"),
    url("./assets/fonts/linotte/Linotte-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Linotte-Regular";
}
.loading-app {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  text-align: center;
  z-index: 9999;
  padding-top: 15%;
  background: rgba(255, 255, 255, 0.6);
}
